.search__results {
  background: white;
  position: absolute;
  width: 100%;
  top: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 5;
  left: 0;
}



.search__result {
  padding: 10px;
  display: block;
  border-bottom: 1px solid #ececec;
}